::-webkit-scrollbar {
    display: none;
}

.rightdiv{
    width: 80%;
    right: -120%;
    position: fixed;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.rightDiv {
    right: 8%; 
}

.leftdiv{
    width: 85%;
    left: 12%;
    position: fixed;
    max-height: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.leftDiv {
    left: -120%;
}

@media (max-width: 768px) {
    span {
        display: none;
    }
}